{% extends 'base.html' %}
{% load static %}
{% block title %}Set Password{% endblock %}

{% block header %}Set Password{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

    <form method="post" >
        <h3>Set Password</h3>
        {% csrf_token %} 
        <label for="password">Enter Password</label>
        <input type="password" placeholder="Enter Password" id="password" name="password">

        <label for="password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password" name="cpassword">

        <button type="submit">Done</button>  
    </form>
</body>
</html>
{% endblock %}

